body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* -----Navigation bar---------- */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 60px;
  font-weight: 700;
  width: 100%;
}

#leftside-nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 50%; */
}

#leftside-nav-bar input {
  background: black;
  color: white;
  border: 1px solid #444d56;
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
}

#rightside-nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 10%; */
}

.nav-bar li {
  list-style: none;
  margin: 15px;
  white-space: nowrap;
}

#react-logo {
  height: 50px;
  width: 50px;
}

#bell {
  height: 50px;
  width: 50px;
}

#plus {
  font-size: 30px;
  font-weight: 700;
}

/* -----------Introduction Block ------------ */

.intro-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    white,
    white,
    rgb(240, 245, 237),
    rgb(181, 226, 181)
  );
  padding: 50px 0;
  position: relative;
  border-bottom: 1px solid lightgrey;
  width: 100%;
}

#close-intro {
  position: absolute;
  top: 20px;
  right: 30px;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.intro-wrapper h1 {
  font-weight: 400;
  margin: 0px;
}

.intro-wrapper h3 {
  font-weight: 400;
  margin: 30px;
  color: #58647d;
}

#read-the-guide-button {
  padding: 10px 30px;
  background: #2ea44f;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  margin-bottom: 50px;
}

/* ---------------------nav section ---------------------- */

.nav-section-two-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #fafbfc;
  border-bottom: 1px solid lightgrey;
  height: 100px;
  width: 100%;
}

#navbar-section-two {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  margin: 0;
}

#repo-title {
  display: flex;
  justify-content: flex-start;
  margin: 20px 50px;
  align-items: center;
  color: #0366d6;
  font-size: 22px;
}
#repo-title svg {
  margin-right: 10px;
}

#navbar-section-two li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 10px;
  padding-bottom: 20px;
  font-size: 18px;

  white-space: nowrap;
  /* width: 100px; */
}
#navbar-section-two li svg {
  margin: 0 10px;
}

/* --------------------issues container---------------- */
.issues-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
  width: 100%;
  max-width: 1500px;
}

/* -----------------issues ------------------- */

.issue-wrapper {
  display: flex;
  /* width: 100%; */
  width: 85%;
  justify-content: center;
  flex-direction: column;
  /* background-color: lightgrey; */
  border-top: 0.5px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 0.5px solid lightgrey;
  border-left: 1px solid lightgrey;
  /* max-width: 1500px; */
  align-self: center;
}

.issue-wrapper:hover {
  background: #f6f8fa;
}

.title-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2vw;
}

.issue-title {
  margin: 10px;
  font-size: 18px;
}

.issue-title:hover {
  color: blue;
  cursor: pointer;
}

.issue-views {
  margin: 0;
  color: grey;
  font-size: 12px;
  margin-left: 4vw;
  margin-bottom: 8px;
}

/* ----------------------footer-wrapper--------------- */

.footer-container {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.footer-container hr {
  width: 100%;
  height: 1px;
  color: rgb(255, 255, 255);
}

.footer-wrapper {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-wrapper li {
  list-style: none;
  padding: 20px 0;
  font-size: 12px;
  color: #1a66d9;
}

.footer-wrapper li:first-child {
  color: grey;
}
